@font-face {
    font-family: "DINN";
    src: url(../fonts/din-next-lt-w23-medium.ttf);
  }
  
  body {
    font-family: 'GESSTwoLight', sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  .imageCover {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
  }
  
  
  canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
  
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  
    object-fit: contain;
  }
  
  .form-control,
  .btn {
    border-radius: 12px;
  }
  
  .form-control {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
  }
  
  .form-control::placeholder {
    color: #bbb;
    font-size: 0.95rem;
  }
  
  .btn-light {
    background-color: #ffffff;
    color: #000;
  }
  
  .info-text {
    color: #aaa;
    font-size: 1rem;
    margin-top: 0;
  }
  
  footer a {
    color: #6c8eff;
  }
  