.image {
    width: 1080px;
    height: 1920px;
}

body {
    background: url("../images/background-color.png");

}

@font-face {
    font-family: "DINN";
    src: url(../fonts/din-next-lt-w23-medium.ttf);
}

#myCanvas{
    font-family: "DINN";
    max-height: 800px;
}

.container {
    display: block;
    margin: auto;
    height: auto;
  }

canvas {
    max-width: 100%;
    object-fit: contain;
}

body{
    font-family: "DINN";
}

footer {

    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

footer a {
  
    font-weight: bold;
    color: white !important;
}

footer a:hover {
    text-decoration: underline;
}
